main {
  @extend %flex;
  @extend %flex-direction-column;
}

#wrapper {
  margin: 0 10px;
  max-width: 768px;
}

#page {
  width: 100%;
}

@media #{$media-min778} {
  #wrapper {
    margin: 0 auto;
  }

  #page {
    margin-left: 50px;
    width: calc(100% - 200px);
  }

  main {
    @include flex-direction-row;
  }
}

ul {
  margin: 20px 0 10px 20px;

  li {
    margin-bottom: 5px;
  }

  p,
  li {
    line-height: 150%;
  }
}