@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Press Start 2P', serif;

$light: 300;
$regular: 400;
$bold: 700;

$line-height-small: 100%;
$line-height-medium: 125%;
$line-height-large: 150%;
$line-height-xlarge: 175%;
